<%= form_tag recipe_multi_create_path(@recipe), remote: true do %>
<% @recipe.ingredients.each do |ingredient| %>
  <label class="image-checkbox">
    <img class='ingredient-image' src="<%=ingredient.item.image_url%>" alt="<%= ingredient.item.name %>">
    <% @sum=ingredient.item.amount_cents %>
      <input type="checkbox" name="ingredient_id[]" value="<%= ingredient.item.id %>"/>
    </label>
  <% end %>
  <h3 class="price recipe-page-title">
    $<%= @sum/10%>
    <small>($4/serving)</small>
  </h3>
  <div class="show-btn">
    <%= submit_tag "Add to Cart", class: "cart-btn" %>
    <%= link_to "See more recipes", recipes_path, class: "about-pages show-btn recipes-btn"%>
  </div>
<% end %>
