<ul>
  <% @cartitems.each do |item| %>
  <div class="row">
    <li>Product Name</li>
    <li>Quantity</li>
    <li>Sub Total</li>
  </div>
  <div class="row">
    <li><%=@item.image %></li>
    <li><%=@item.name %></li>
    <li><%=@item.price, id: "Price" %></li>
    <li><%=@item.quantity %></li>
    <li><%=@item.total %></li>
    <button>REMOVE</button>
  </div>
  <% end %>
</ul>
<div class="cartsummary">
  <ul>
    <li>subtotal</li>
    <li>shipping</li>
    <li>taxes</li>
    <li>total</li>
  </ul>
  <button>Checkout</button>
</div>
<script>
  let price=document.querySelectorAll(#Price).value;
  const add(price){
    sum += price;
  }
</script>
