<% @sum=0 %>
  <section class="about">

    <div class="about-title">

      <video autoplay="autoplay" autoplay loop controls muted id="video" class="video-fluid z-depth-1">
        <source src="<%= @recipe.video %>" type="video/mp4" class="recipe-video">
      </video>
      <!-- <img src=" <%= @recipe.image %> " alt=""> -->
    </div>

    <div class="about-pages">
      <h1 class="recipe-name recipe-page-title"><%= @recipe.name %></h1>
      <div class="text1">
        <h4 class="ingredient recipe-page-title">Select what you need:</h4>
        <div class="ingredient-container">

          <%= form_tag multi_create_path do %>
            <% @recipe.ingredients.each do |ingredient| %>
              <!-- <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center"> -->
              <label class="image-checkbox">
                <img class='ingredient-image' src="<%=ingredient.item.image_url%>" alt="<%= ingredient.item.name %>">
                <% @sum=ingredient.item.amount_cents %>
                  <input type="checkbox" name="ingredient_id[]" value="<%= ingredient.item.id %>"/>
                </label>
                <!-- </div> -->
              <% end %>
              <h3 class="price recipe-page-title">
                $<%= @sum/10%>
                <small>
                  ($4/serving)</small>
              </h3>
              <div class="show-btn">
                <%= submit_tag "Add to Cart", class: "cart-btn" %>
                <%= link_to "See more recipes", recipes_path, class: "about-pages show-btn recipes-btn"%>
              </div>

            <% end %>

          </div>
          <div class="ingredient-name-container">
            <h4 class="prep">
              Pre-time:
              <%=@recipe.prep_time%>
              mins
            </h4>

            <ol class="item-ingredient">
              <% @recipe.ingredients.each do |ingredient| %>
                <li>-
                  <%= ingredient.quantity%>
                  <%= ingredient.item.name%>
                </li>

              <% end %>
            </ol>
          </div>
        </div>

        <hr>
        <div class="text2">
          <h4 class="ingredient recipe-page-title">Preparation</h4>
          <ol class="directions">
            <% @recipe.steps.each do |step| %>
              <li><%= step.number%> -
                <%= step.content%>
              </li>
            <% end %>
          </ol>
        </div>

        <div>
          <div class="check">
          <%= link_to "Shopping Cart", cart_path(current_user.current_cart), class: "checkout"%>
          </div>
        </div>
        <!-- <div class="text3"> <h2>Preparations</h2> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam hic consequatur atque, nihil repudiandae laboriosam omnis at doloremque nulla tenetur eius. Nulla quas doloribus atque illo ex
        distinctio explicabo ipsa.</p> </div> <div> -->

      </section>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.js"></script>

      <%= javascript_pack_tag("show") %>

      <script>
         $("input[type='submit']").on("click",function(){
           // console.log($(this).closest('form').find('img').clone())
         $(this).closest("form")
           .find("img")
           .clone()
           .addClass("zoom")
           .appendTo("body");
         setTimeout(function(){
           $(".zoom").remove();
         },5000);
       });
      </script>


