 <% @sum = 0 %>
<div class="container-cart">

  <h3 class="shopping">Shopping Cart</h3>

    <div class="item">
        <div class="menu">

          <li class="menu-title">Product Image</li>
          <li class="menu-title">Product Name</li>
          <li class="menu-title">Quantity</li>
          <li class="menu-title">Sub Total</li>
        </div>

        <div class="row-items">
          <%@cartitems.each do |cartitem|%>
            <div class="card-item">
              <div><%=image_tag cartitem.item.image_url, width: "100" %></div>
              <li><%=cartitem.item.name %></li>
              <li><%=cartitem.quantity %></li>
              <li><%= cartitem.item.amount * cartitem.quantity %></li>

              <% @sum = @sum + cartitem.item.amount * cartitem.quantity%>
            </div>
          <% end %>
        </div>

    </div>
  <div class="cart-cost">
    <h4>Cart Summary</h4>
    <div class="cost-menu">
      <div class="cost">
        <p>Subtotal</p>
        <p><%=@sum%></p>
      </div>

      </div>
      <div class="cost">
        <p>Taxes</p>
        <p><%=@sum * 0.15 %></p>
      </div>
      <p>Total</p>
      <p>$<%=@sum*1.15 %></p>
    </div>

    <%=link_to "Checkout", new_cart_payment_path(@cart), class: "checkout" %>
  </div>

</div>
