
<h3>Shopping Cart</h3>

<ul>
  <div class="item">

      <div class="row">
        <li>Product Name</li>
        <li>Quantity</li>
        <li>Sub Total</li>
      </div>

      <div class="row">
        <%@cartitems.each do |cartitem|%>
        <li><%=image_tag cartitem.item.image_url, width: "100" %>
        <li><%=cartitem.item.name %></li>
        <li><%=cartitem.quantity %></li>
        <li><%= cartitem.item.amount * cartitem.quantity %></li>
        <%=link_to "Remove from Cart", cartitem_path(cartitem.id), :class=>"btn btn-success btn-lg btn-block", method: :delete %>
        <% end %>

      </div>


  </div>
</ul>

<div>
  <%=@cart.price %>
</div>

<%=link_to "Payment", new_cart_payment_path(@cart) %>
